* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

main{
	display: block;
	padding: 100px;
	border-top: 20px black;
}

#about{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#about-us{
	flex-grow: 2;
}

#about-header{
	display: inline-block;
	margin-top: 120px;
	margin-left: 150px;
	text-align: center;
}

#about-paragraph{
	margin-top: 20px;
	font-size: 20px;
	font-family: verdana;
}

#about-image{
	flex-grow: 3;
}

.section{
	border-bottom: 20px solid black;
}

.section1 > h1{
	background-color: aquamarine;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 35px;
	
}

.section1 > p{
	font-size: 20px;
	margin-bottom: 10px;
	font-family: verdana;
}