* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header {
	margin-top:10%;
	font-family: monospace;
	text-align:center;
}
header h1{
	text-transform: uppercase;
}
header p {
	font-size: 20px;
}

header h1{
	padding:10px;
}

nav{
	font-size: 20px;
	padding:10px;
	text-align:center;
}
nav a{
	text-decoration:none;
	color:teal;
}


main{
	display: block;
	padding: 100px;
}

#about{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#about-us{
	flex-grow: 2;
}

#about-header{
	display: inline-block;
	margin-top: 120px;
	margin-left: 150px;
	text-align: center;
}

#about-paragraph{
	margin-top: 20px;
	font-size: 20px;
	font-family: verdana;
}

#about-image{
	flex-grow: 3;
}

.section{
	border-bottom: 20px solid black;
}

.section1 > h1{
	background-color: aquamarine;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 35px;
}

.section1 > p{
	font-size: 20px;
	margin-bottom: 10px;
	font-family: verdana;
}