* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header {
	margin-top:10%;
	font-family: monospace;
	text-align:center;
}
header h1{
	text-transform: uppercase;
}
header p {
	font-size: 20px;
}

header h1{
	padding:10px;
}

nav{
	font-size: 20px;
	padding:10px;
	text-align:center;
}
nav a{
	text-decoration:none;
	color:teal;
}

/* Main Section Start*/
main{
	display: block;
	padding: 100px;
}

#about{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#about-us{
	flex-grow: 2;
}

#about-header{
	display: inline-block;
	margin-top: 120px;
	margin-left: 150px;
	text-align: center;
	color: coral;
	border-bottom: 2px dotted;
}

#about-paragraph{
	margin-top: 20px;
	font-size: 20px;
	font-family: verdana;
}

#about-image{
	flex-grow: 3;
}

.section{
	border-bottom: 20px solid black;
}

.section1 > h1{
	background-color: aquamarine;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 35px;
	
}

.section1 > p{
	font-size: 20px;
	margin-bottom: 10px;
	font-family: verdana;
}

/*Main Section end*/

/*Contact Page Start*/
.container{
	min-height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border: 2px solid black;
	padding: 10px;
	margin: 5px;
}



.contact-image img{
	display: inline;
	width: 100%;
}

.form-wrapper{
	background-color: cadetblue;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px,0px,12px rgba(0, 0, 0, 0.5);
	width: 100%;
	margin: auto;
}

.form-wrapper > h1{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	color: chartreuse;
	text-shadow: 2px 2px #160606;
}

.input-group{
	margin: 20px 20px;
}

.input-group input[type=text]{
	margin: 5px 75px 0px 0px;
	padding: 10px;
}

.input-group input[type=email], textarea{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	padding: 10px;
	
}

.input-group input[type=text]:focus {
	background-color: lightblue;
}

.input-group label{
	font-size: x-large;
}

.form-wrapper input[type=button]{
	display: block;
	background-color: #aa1d04;
	justify-content: center;
	
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: auto;
	cursor: pointer;
	font-size: larger;
	text-transform: uppercase;
}
#user{
	display: flex;
	font-size: 10px;	
}
#user input{
	margin-left: 2rem;
    margin-right: 0%;
}

@media only screen and (max-width: 600px) {
	.container {
	  flex-flow: row wrap;
	}
	.input-group input[type=text]{
		margin: 5px 25px 0px 0px;
		padding: 10px;
	}
}
/*Contact form end*/
.footer{
	text-align: center;
	color: turquoise;
	font-weight: bold;
	font-size: 25px;
	padding: 20px;
}