* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

.heading {
	color: rgb(65, 83, 239);
	color: teal;
	font-weight: bold;
	font-size: 40px;
	font-family: monospace;
	text-align: center;
}

.header {
	/*background: red;*/
	margin:20px auto;
	margin-top:5%;
	width: 90%;
}

.header p{
	padding: 10px 40px;
	font-size: 20px;
}
.container{
	min-height:50px;
	width: 90%;
	margin:4% auto;
	display:flex;
	justify-content: center;
	align-items: center;
}



.image-holder,.content-holder{
	background:rgb(126, 126, 126,0.1);
	background:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.image-holder,.content-holder,.description{
	border-radius: 8px;
	height: 90%;
	width:50%;
	margin: auto 7px;
}


.image {
	width: 40%;
	height: 80%;
	opacity: 1;
	transition:0.5s;

	/*border: 1px solid red;*/
}

.image:hover{
	width:44%;
	/*margin-top:40px;*/
}

.profile-image {
	width: 100%;
	height: 90%;
}

.content-holder{
	font-family: monospace;
	font-size: 20px;
	padding:30px;
	color: black;
	text-align: justify;
}

.description{
	background:rgb(126, 126, 126,0.1);
	transition:0.5s;
}

.description:hover{
	transition:0.5s;
	/*margin:3px;*/
	width:60%;
	box-shadow: 1px 2px 60px rgba(126, 126, 126, 0.6);

}

.profile,.name{
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile{
	/*height: 80%;*/
	/*background:red;*/
	border-radius: 8px 8px 0px 0px ;
}


.name{
	background-color:white;
	height: 8vh;
	border: 1px solid rgb(195, 195, 195);
	padding:0px;
	font-family: monospace;
	font-size: 16px;
}


@keyframes shake{
	0% {width:19%;}
	25% {width:21%;}
	50% {width:19%;}
	75% {width:21%;}
	100% {width:19%;}

}

button {
	border:none;
	padding: 15px;
	color:white;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 4px;
	font-family: monospace;
	border-radius: 4px;
	background:rgb(65, 83, 239);
	/*transition: 0.5s;*/
	animation-name: shake;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	box-shadow: 4px 5px 30px rgba(65, 84, 241, 0.6);
	transition: 0.5s;
}



button:hover{
	margin-top:-30px;
	/*width: 25%;*/
	/*background: red;*/
}  
